resources/levels/level.dtd

<!DOCTYPE level [
    <!ELEMENT level (name,difficulty,ball_speed,next,bricks)>
    <!ELEMENT name (#PCDATA)>
    <!ELEMENT difficulty (#PCDATA)>
    <!ELEMENT ball_speed (#PCDATA)>
    <!ELEMENT next (#PCDATA)>
    <!ELEMENT bricks (row)>
    <!ELEMENT row (column)>
    <!ELEMENT column (#PCDATA)>
]>
